body {
  background-color: #111;
  color: #eee;
  font-family: monospace;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2em;
  margin-bottom: 2em;
}

p {
  color: #ccc;
}

a {
  color: #eee;
}

.buttonlink, button {
  background-color: #ccc5;
  color: #eee;
  font-family: monospace;
  padding: 6px;
  text-decoration: none;
  border: none;
}

.buttonlink:hover, button:hover {
  background-color: #ccc7;
  color: #eee;
  font-family: monospace;
  padding: 6px;
  text-decoration: none;
  border: none;
}

hr {
  border-color: #666;
}

.sample {
  border: 1px solid #eee;
}

table, tr, td, th {
  border: 1px solid #eee;
  border-collapse: collapse;
  padding: 5px;
}

input, textarea, select {
  background-color: #5557;
  color: #eee;
  border: none;
  padding: 3px;
}